<div class="section__cards">
    <div class="container">
        <div class="cards__film-wrap">
            {{#each this}}
            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="/movie/{{id}}"><img src="https://image.tmdb.org/t/p/w220_and_h330_face{{poster_path}}"
                            alt="poster {{title}}" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href=" /movie/{{id}}" class="card__film-name text">{{title}}</a>
                    <br /><a href="#" class="card__film-about text">{{#each genres}}{{name}}{{#if @last}}{{else}}, {{/if}}{{/each}} |
                        {{year}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>